@model Gamezone.Models.User

@{
    ViewBag.Title = "Login";
}

<link href="~/Content/Login-Signup.css" rel="stylesheet" />

<h1 class="h1_page">Enter the Gaming Zone</h1>
<div class="bodylog">

    <section class="sectionlog">

        <div class="signin">

            <div class="content">

                <h2>Sign In</h2>

                <div class="form">
                    @using (Html.BeginForm("Login", "Users", FormMethod.Post, new { id = "loginForm", @class = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="inputBox">
                            @Html.TextBoxFor(model => model.user_name, new { required = "required" })
                            <i>Username</i>
                        </div>
                        <div class="inputBox">
                            @Html.PasswordFor(model => model.user_password, new { required = "required" })
                            <i>Password</i>
                        </div>
                        <div class="links">
                            <a href="/Users/Signup">Signup</a>
                        </div>
                        <div class="inputBox" id="loginbtn">
                            <input type="submit" value="Login">
                        </div>
                    }
                </div>

            </div>

        </div>

    </section>
</div>

<div class="container">
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
