@model Gamezone.Models.User

@{
    ViewBag.Title = "Signup";
}

<link href="~/Content/Login-Signup.css" rel="stylesheet" />

<h1 class="h1_page">Join Us</h1>
<div class="bodylog">

    <section class="sectionlog">
        <div class="signin">
            <div class="content">
                <h2>Sign Up</h2>
                <div class="form">
                    @using (Html.BeginForm("Signup", "Users", FormMethod.Post, new { id = "signupForm", @class = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="inputBox">
                            @Html.TextBoxFor(model => model.user_name, new { required = "required", placeholder = "Omar_Diab" })
                            <i>Username</i>
                        </div>

                        <div class="inputBox">
                            @Html.PasswordFor(model => model.user_password, new { required = "required" })
                            <i>Password</i>
                        </div>

                        <div class="inputBox">
                            @Html.PasswordFor(model => model.ConfirmPassword, new { required = "required" })
                            <i>Confirm Password</i>
                        </div>

                        <div class="links">
                            <a href="/Users/Login">Login</a>
                        </div>

                        <div class="inputBox" id="signupbtn">
                            <input type="submit" value="Sign Up">
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
