@model Gamezone.Models.gaming_organization

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>gaming_organization</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.org_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.org_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.org_establishment_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.org_establishment_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.org_team_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.org_team_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.org_achievements)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.org_achievements)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.org_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
