@model Gamezone.Models.Streamer_details

@{
    ViewBag.Title = "StreamerDetails";
}
<!-- Streamer Name and Rank -->
<section class="text-center">
    <h1 class="h1_page">@Model.streamer_name #@Model.twitch_rank</h1>
    <h2>Followers: @Model.number_of_followers</h2>
</section>
<div class="mybox">
    <!-- Streamer Profile Section -->
    <div class="t_img_row">
        <div>
            <!-- Streamer Description -->
            <p>@Model.description</p>
        </div>
        <div>
            <!-- Streamer Image -->
            <img  src="@Model.thumbnail" alt="Streamer Image" width="500px">
        </div>

    </div>

    <!-- YouTube Video Section -->
        <div class="t_img_col">

            <div class="t_vid">
                
                <iframe width="866" height="487" src="@Model.iframe_src" frameborder="0" allowfullscreen></iframe>
            </div>
            
        </div>

    <!-- Twitch Link Button -->
        <h1 class="h1_page" style="margin-top:50px;">
            <a href="@Model.twitch_link" target="_blank">
                Click here to visit Twitch channel
            </a>
        </h1>

    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>

