@model Gamezone.Models.Streamer_details

@{
    ViewBag.Title = "StreamerDetails";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="styles.css">
    <title>Streamer Page</title>
    <style>
        body {
            padding-top: 50px; /* Adjust based on your needs */
        }

        .profile-section {
            margin-bottom: 30px;
            height: 400px;
        }

        .video-section {
            margin-bottom: 30px;
            height: 400px;
        }
    </style>
</head>
<body>

    <!-- Streamer Name and Rank -->
    <section class="text-center">
        <h1>@Model.streamer_name</h1>
        <p> @Model.twitch_rank</p>
        <p>Followers: @Model.number_of_followers</p>
    </section>

    <!-- Streamer Profile Section -->
    <section class="row ">
        <div class="txtdsc">
            <!-- Streamer Description -->
            <p>@Model.description</p>
        </div>
        <div class="col-md-4">
            <!-- Streamer Image -->
            <img src="@Model.thumbnail" alt="Streamer Image" class="img-fluid rounded">
        </div>
    </section>
    <!-- YouTube Video Section -->
    <section class="row video-section">
        <div class="col-md-12">
            <!-- Replace 'VIDEO_ID' with your actual YouTube video ID -->
            <iframe width="100%" height="315" src="@Model.iframe_src" frameborder="0" allowfullscreen></iframe>
        </div>
    </section>
    <!-- Twitch Link Button -->
    <section class="text-center">
        <h1 class="h1_page">
            <a href="@Model.twitch_link" target="_blank">
                Click here to visit Twitch channel
            </a>
        </h1>
    </section>

    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>