@model Gamezone.Models.Proplayer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Proplayer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.player_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.player_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.player_nationality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.player_nationality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.player_team)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.player_team)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.player_achievements)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.player_achievements)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Team.team_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team.team_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.player_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
