@model IEnumerable<Gamezone.Models.Proplayer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.player_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.player_nationality)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.player_team)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.player_achievements)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Team.team_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.player_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.player_nationality)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.player_team)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.player_achievements)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Team.team_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.player_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.player_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.player_id })
        </td>
    </tr>
}

</table>
