@{
    ViewBag.Title = "Home Page";
}



<h1 class="h1_page">Welcome to the GameZone</h1>
<link href="~/Content/Explores.css" rel="stylesheet" />
<div class="mybox">
    <div class="t_img_row" style="margin-top:30px;">
        <div>
            <h2 class="h2_page">Explore Adventure!</h2>

            <p>Welcome to our gaming haven, where adventure knows no bounds! Immerse yourself in the enchanting world of exploration games, where each step unveils thrilling quests and hidden treasures. Whether navigating mysterious dungeons or soaring through open-world realms, our platform celebrates the spirit of adventure. Join us on a journey where the boundaries of reality dissolve, and the thrill of the unknown beckons. Welcome to a gaming experience where the adventure is as captivating as the destination itself!</p>
        </div>
        <div style="margin-top:45px;">
            <a href="@Url.Action("ExploreGames", "Game_titles")">
                <img class="mycard" src="https://www.pixground.com/wp-content/uploads/2023/06/Assassins-Creed-Mirage-Basim-4K-Wallpaper.jpg" width="600px" alt="Click to Explore Games" title="Click To Visit Page">
            </a>
        </div>
    </div>

    <div class="t_img_row" style="margin-top:30px;">
        <div>
            <h2 class="h2_page">Join the Gaming Arena!</h2>
            <p>Step into the world of intense competition and exhilarating challenges! Welcome to our gaming arena, where tournaments and championships set the stage for epic battles and triumphs. Immerse yourself in the thrill of gaming competitions, where skill and strategy collide. Whether you're vying for the championship title or watching the action unfold, our platform is the ultimate destination for gaming excellence. Join us in celebrating the spirit of competition and the pursuit of victory. Welcome to a gaming experience where every move counts, and the quest for glory never ends!</p>
        </div>
        <div style="margin-top:45px;">
            <a href="@Url.Action("ExploreTournaments", "Tournament_details")">
                <img class="mycard" src="https://trackercdn.com/ghost/images/2023/1/111657_fncs-global-championship-2023-denmark.jpg" width="600px" alt="Click to Explore Games" title="Click To Visit Page ">
            </a>

        </div>
    </div>

    <div class="t_img_row" style="margin-top:30px;">
        <div>
            <h2 class="h2_page">Experience Pro Gaming Live!</h2>

            <p>Dive into the world of top-tier gaming talent and captivating live streams! Welcome to our gaming haven, where professional streamers showcase their skills and entertain audiences with thrilling gameplay. Immerse yourself in the excitement of watching expert gamers navigate virtual realms, execute precision moves, and engage with their communities. Whether you're seeking strategies, entertainment, or just a front-row seat to epic gaming moments, our platform is your go-to destination for the best in pro gaming. Join us in celebrating the artistry of gaming and the community spirit that unfolds in every live stream. Welcome to an experience where the virtual stage comes alive, and the thrill is in the watching!</p>
        </div>

        <div style="margin-top:45px;">
            <a href="@Url.Action("ExploreStreamers", "Streamer_details")">
                <img class="mycard" src="https://cdn.oneesports.gg/cdn-data/2022/02/Twitch_Top10Streamers_FollowerCount.jpg" width="600px" alt="Click to Explore Games" title="Click To Visit Page ">
            </a>

        </div>
    </div>


    <div class="t_img_row" style="margin-top:30px;">
        <div>
            <h2 class="h2_page">Meet the Pro Players!</h2>

            <p>Step into the world of gaming excellence with our showcase of professional players! Welcome to our platform dedicated to highlighting the achievements and profiles of top-tier gamers. Immerse yourself in the journey of these skilled players, learn about their remarkable accomplishments, and explore their gaming prowess. From dominating leaderboards to achieving legendary status, our platform is your go-to destination for insights into the world of pro players. Get to know their strategies, follow their gaming journeys, and witness the brilliance that defines their gameplay. Join us in celebrating the talent, dedication, and success of pro players. Welcome to an experience where gaming greatness takes center stage!</p>
        </div>


        <div style="margin-top:45px;">
            <a href="@Url.Action("ExplorePlayers", "Proplayers")">
                <img class="mycard" src="https://static0.gamerantimages.com/wordpress/wp-content/uploads/2023/01/league-of-legends-pro-players-to-look-out-for-in-2023.jpg" width="600px" alt="Click to Explore Games" title="Click To Visit Page ">
            </a>

        </div>
    </div>

    <div class="t_img_row" style="margin-top:30px;">
        <div>
            <h2 class="h2_page">Dominance Unleashed: Pro Teams and Clans Showcase!</h2>

            <p>Dive into the realm of gaming excellence with our spotlight on professional teams and clans! Welcome to our platform dedicated to showcasing the achievements and profiles of top-tier gaming organizations. Immerse yourself in the collective journey of these skilled teams, learn about their remarkable accomplishments, and explore their strategic prowess. From dominating competitions to establishing legendary legacies, our platform is your ultimate destination for insights into the world of pro teams/clans. Discover their unique playstyles, follow their competitive journeys, and witness the brilliance that defines their gameplay as a unit. Welcome to an experience where gaming greatness is a collaborative masterpiece!</p>
        </div>



        <div style="margin-top:45px;">
            <a href="@Url.Action("ExploreTeams", "Teams")">
                <img class="mycard" src="https://cdn1.dotesports.com/wp-content/uploads/2019/08/09183252/allpro_zrwgtusv3qsyk1slgs59.jpg" width="600px" alt="Click to Explore Games" title="Click To Visit Page ">
            </a>

        </div>
    </div>

    <div class="t_img_row" style="margin-top:30px;">
        <div>
            <h2 class="h2_page">Discover Gaming Delight!</h2>
            <p>Enter the realm of excitement and endless possibilities! Welcome to our gaming haven, where every visit promises a thrilling adventure. Explore a curated selection of games, accessories, and more in our store. Immerse yourself in a world where gaming excellence meets unparalleled variety. Whether you're seeking the latest releases or timeless classics, our platform is your ultimate destination for gaming satisfaction. Join us in celebrating the joy of gaming and the pursuit of new horizons. Welcome to an experience where every choice leads to gaming delight!</p>
        </div>



        <div style="margin-top:45px;">
            <a href="https://store.steampowered.com/">
                <img class="mycard" src="https://techraptor.net/sites/default/files/styles/image_header/public/2022-08/Steam%20logo%20and%20background%20of%20games.jpg?itok=9J8fOXwI" width="600px" alt="Click to Explore Games" title="Click To Visit Page ">
            </a>

        </div>
    </div>

    <div class="t_img_row" style="margin-top:30px;">
        <div>
            <h2 class="h2_page">Ignite Your Creativity!</h2>
            <p>Enter the dynamic world of game development and endless possibilities! Welcome to our game engine hub, where innovation meets inspiration. Explore powerful game engines designed to fuel your creative journey. Immerse yourself in a realm where coding, design, and imagination converge to bring your visions to life. Whether you're a seasoned developer or just starting, our platform is your ultimate destination for game engine excellence. Join us in celebrating the art of creation and the pursuit of groundbreaking experiences. Welcome to an environment where every line of code sparks the flames of creativity!</p>
        </div>



        <div style="margin-top:45px;">
            <a href="@Url.Action("ExploreEngines", "Game_engines")">
                <img class="mycard" src="https://www.codeguru.com/wp-content/uploads/2022/09/blender-game-development-tool.jpg" width="600px" alt="Click to Explore Games" title="Click To Visit Page ">
            </a>

        </div>
    </div>

</div>
