@model Gamezone.Models.Game_stores

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Game_stores</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.store_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.store_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.store_description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.store_description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Game_titles.game_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Game_titles.game_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.store_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
