@model Gamezone.Models.User

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm("Login", "login", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.user_name)
        @Html.TextBoxFor(model => model.user_name, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.user_password)
        @Html.PasswordFor(model => model.user_password, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
}

