@model Gamezone.Models.Game_titles

@{
    ViewBag.Title = "GameDetails";
}

<h2>GameDetails</h2>
<div class="container">
    <!-- Game Name and Genre -->
    <section class="text-center">
        <h1>@Model.game_name</h1>
        <p> @Model.genre</p>
        <p>IGN Rating: @Model.ign_rate</p>
    </section>

    <!-- Game Info Section -->
    <section class="row profile-section">
        <div class="col-md-8">
            <!-- Game Description -->
            <p>@Model.description</p>
            <p>@Model.platform</p>
            <p>@Model.developer</p>
            <p>@Model.release_date</p>


        </div>
        <div class="col-md-4">
            <!-- Game Image -->
            <img src="@Model.game_thumbnails" alt="Streamer Image" class="img-fluid rounded">
        </div>
    </section>

</div>
