@model IEnumerable<Gamezone.Models.Game_titles>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.game_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.platform)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.developer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.release_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ign_rate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.game_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.genre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.platform)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.developer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.release_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ign_rate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.game_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.game_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.game_id })
        </td>
    </tr>
}

</table>
