@model Gamezone.Models.Game_engines

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Game_engines</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.game_engine_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.game_engine_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.game_engine_description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.game_engine_description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Game_titles.game_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Game_titles.game_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.game_engine_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
