@model IEnumerable<Gamezone.Models.Game_engines>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.game_engine_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.game_engine_description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Game_titles.game_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.game_engine_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.game_engine_description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Game_titles.game_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.game_engine_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.game_engine_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.game_engine_id })
        </td>
    </tr>
}

</table>
