@model IEnumerable<Gamezone.Models.Tournament_details>

@{
    ViewBag.Title = "GuestTOIndex";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tournament_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tournament_game_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Game_titles.game_name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tournament_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tournament_game_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Game_titles.game_name)
            </td>
            <td>
                @Html.ActionLink("GuestTODetails", "GuestTODetails", new { id = item.tournament_id }) |

            </td>
        </tr>
    }

</table>


