@model Gamezone.Models.Tournament_details

@{
    ViewBag.Title = "TournamentDetails";
}



<div class="mybox">
    <section class="text-center">
        <h1 class="h1_page">@Model.tournament_name</h1>
        <img class="mycard" src="@Model.thumbnail" width="100%" alt="game Thumbnail" />

    </section>
    <!-- Streamer Profile Section -->
    <div class="t_img_row">
        <div>
            <!-- Streamer Description -->
            <p>@Model.description</p>
        </div>

    </div>
    <div class="t_img_col">
        <h1 class="h1_page">Introduction about Tournament</h1>
        <div class="t_vid">

            <iframe width="866" height="487" src="@Model.intro_vid" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <!-- YouTube Video Section -->
    <div class="spacer">
        <div><h2>Esports-Link</h2></div>
        <div class="t_vid">

            <iframe width="866" height="487" src="@Model.esports_link" frameborder="0" allowfullscreen></iframe>
        </div>

    </div>
    <div class="spacer">
        <div><h2>Gameplay of the Tournament</h2></div>
        <div class="t_vid">

            <iframe width="866" height="487" src="@Model.actual_game_vid" frameborder="0" allowfullscreen></iframe>
        </div>

    </div>

    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
